.container {

    width:100%;
    position:relative;
}
  .main {
    top:0;
  }


.mobody {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, white, whitesmoke, blue );
    display: flex;
    justify-content: space-around;


}

.edu {
    margin-bottom: 0px;
  }

.centerplz {
    padding-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
}

.hats {

    width: 100%;

}

.about {

    width: 100%;
    height: width;
  
  }

.school {
    margin-right:25%;
    width:50%;
    margin-left: 25%;
}

.mo1 {
    display: flex;
    *zoom: 1;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    height: 100vh;
    display: table;
    width: 100%;

}


.footer{

  margin-bottom: 10%;
  width: 100%;

}

h1 {
    color: #001A57
}

h2 {
    font-weight: 500;
    color: whitesmoke
}
h3 {
    font-weight: 500;
}

h4 {
    font-weight: 700;
}
h5{
    font-weight: 300;
}

h6 {
  font-weight: 500i;
  color: #262626;
}

.coolgrey {
  color: #262626;

}

.Row
{
    display: table;
    width: 100%; 
    table-layout: auto; 
    border-spacing: 5px; 
}

.nopacity:any-hover {
  opacity: 1;
}
.Column
{
    display: table-cell;
}



.exp {
    background-color: whitesmoke;
    height:100%;
    width: 100%;




}

.even {
  display: flex;
  justify-content: center;
}

.btn {
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
}

main {
    margin-bottom: 100%;

  }
  .floating-menu {
    font-family: "Poppins";
    background: #001A57;
    padding: 5px;;
    width: 100%;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3,
  .floating-menu h1,
  .floating-menu h5 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .cursors {
    cursor: url(http://tianahorn.com/images/cursor.png), auto ;
  }



/* Textimonial Carousel */
.rightquote {
    margin-right:20%;
    margin-left:80%;
  }
  
  .leftquote {
    margin-left:20%;
    margin-right:80%;
  }
  .slider {
    width: 100%;
    position:relative;

  
  }
  .slide1,.slide2,.slide3,.slide4 {
    width: 50%;
    margin-right:25%;
    margin-left:25%;
    position: absolute;
  
  }
.slide1 {
      background-size: cover;
    animation:fade infinite;
    animation-duration: 25s;
-webkit-animation:fade 25s infinite;

} 
.slide2 {
      background-size: cover;
    animation:fade2 infinite;
    animation-duration: 25s;

-webkit-animation:fade2 25s infinite;
}
.slide3 {
      background-size: cover;
    animation:fade3 infinite;
    animation-duration: 25s;

-webkit-animation:fade3 25s infinite;
}
.slide4 {
  background-size: cover;
animation:fade4 infinite;
animation-duration: 25s;

-webkit-animation:fade4 25s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:1}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 1}
  60%   {opacity:0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 1}
  90%   {opacity: 0}
  100% {opacity: 0}
}

/* Menu */

.feat {
    margin-top: 15%;
    width:90%;

}
span {
  display: inline-block;
  vertical-align: middle;
}

ul {
  display: block;
  width:100%;
  list-style-type: none;
  text-align: left;
}

a {
  color: #FFF;
}
a:hover {
  cursor: url(http://tianahorn.com/images/pointer.png), auto ;
  opacity: 0.7;
}

