


.body {

    font-family: 'Poppins', sans-serif;
    background: white;
    background: linear-gradient(to bottom, white, whitesmoke, blue );
    display: flex;
    justify-content: center;


}

.edu {
  margin-bottom: 20px;
}

.centerplz {
  padding-top:7%;
  margin-left: 10%;
  margin-right: 10%;
}

.school {
  margin-right:25%;
  width:50%;
  margin-left: 25%;
}

.footer{
  margin-bottom:3%;
  width: 100%;

}

.article {
  margin: 5rem;

}

.container {
    border: 5px lightgray;
   
}
h1 {
    color: #001A57
}

h2 {
    font-weight: 500;
    color: whitesmoke
}
h3 {
    font-weight: 500;
}

h4 {
    font-weight: 700;
}
h5{
    font-weight: 300;
}

h6 {
  font-weight: 500i;
  color: #262626;
}

.coolgrey {
  color: #262626;

}


.feat {
  margin-left:15%;
  width:70%;
  margin-right:15%;
}

.Row
{
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 5px; 
}

.nopacity:hover {
  opacity: 1;
}
.Column
{
    display: table-cell;
}

.econtainer {

     width: 250px;
     height: 250px;
     margin-top: 140px;    
}

.exp {
    background-color: whitesmoke;
    height: 100%;


}



.proj {

  width: 400px;
  height: 450px;



}

.even {
  display: flex;
  justify-content: center;
}

.btn {
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.skills {
    position: absolute;
    bottom: 10;

}
main {
    margin-bottom: 100%;
  }
  .floating-menu {
    font-family: "Poppins";
    background: #001A57;
    padding: 5px;;
    width: 100%;
    z-index: 100;
    position: fixed;
  }
  .floating-menu a, 
  .floating-menu h3,
  .floating-menu h1,
  .floating-menu h5 {
    display: flex;
    justify-content: center;
    color: white;
  }

  .cursors {
    cursor: url(http://tianahorn.com/images/cursor.png), auto ;
  }


/* Textimonial Carousel */

.rightquote {
  margin-right:20%;
  margin-left:80%;
}

.leftquote {
  margin-left:20%;
  margin-right:80%;
}

.testimonial {
  margin-right:25%;
  margin-left:25%;
  width: 50%;

}

.slider {
  width: 100%;

  position:relative;

}
.slide1,.slide2,.slide3,.slide4 {
  width: 50%;
  margin-right:25%;
  margin-left:25%;
  position: absolute;

}
.slide1 {

    animation:fade infinite;
    animation-duration: 25s;
-webkit-animation:fade 25s infinite;

} 
.slide2 {

    animation:fade2 infinite;
    animation-duration: 25s;

-webkit-animation:fade2 25s infinite;
}
.slide3 {
  
    animation:fade3 infinite;
    animation-duration: 25s;

-webkit-animation:fade3 25s infinite;
}
.slide4 {

animation:fade4 infinite;
animation-duration: 25s;

-webkit-animation:fade4 25s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:1}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 1}
  60%   {opacity:0}
  75%   {opacity: 0}
  90%   {opacity: 0}
  100% {opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  5% {opacity:0}
  15%   {opacity:0}
  30%   {opacity:0}
  45%   {opacity: 0}
  60%   {opacity: 0}
  75%   {opacity: 1}
  90%   {opacity: 0}
  100% {opacity: 0}
}

/* Menu */


span {
  display: inline-block;
  vertical-align: middle;
}

ul {
  display: block;
  list-style-type: none;
  text-align: left;
}

a {
  color: #FFF;
}
a:hover {
  cursor: url(http://tianahorn.com/images/pointer.png), auto ;

}

.bounce-pad {
  padding:5px;
}

.bounce-top:hover {

  cursor: url(http://tianahorn.com/images/pointer.png), auto ;
	-webkit-animation: bounce-top 11s both;
	        animation: bounce-top .9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

