.poppin {
    font-family: 'Poppins', sans-serif;
}
.container {
    border: 5px lightgray;
    background-color: lightgray;
}

h1 {
    color: #381713
}

h2 {
    font-weight: 500;
    color: brown;
}

h3 {
    font-weight: 500i;
}

h4 {
    font-weight: 300;
}

h5{
    font-weight: 300i;
}

.body {
    background-color: whitesmoke
}

.Row
{
    display: table;
    width: 100%; 
    table-layout: auto; 
    border-spacing: 5px; 
}
.Column
{
    display: table-cell;
}
